.container{
    background-color: #180f05;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 6;
    
    nav{
        width: 50%;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        font-size: 30px;
    }
}
.fixed{
    height: 90px;
}