
.label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.select {
  width: 400px;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}


.option {
  background-color: #333;
  color: #fff;
  .option:hover {
    background-color: #444;
  }
 
}


