.container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 77;
    
}

.btn{
    bottom: 0;
    width: 590px;
    background-color: aqua;
}