.Container{
    z-index: 999;
    position: fixed;
    background-color: rgba(63, 65, 67, 0.45);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContent{
    display: flex;
    min-width: 300px;
    min-height: 300px;
    background-color: aliceblue;
    border-radius: 1%;
    padding: 20px;
    
}
