.container{
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    img{
        object-fit: cover;
    
    }
    &:hover{
        img{
            scale: 1.1;
            transition: 0.3s ease-in all;
            
        }
    }

}